asgiref==3.8.1
Django==5.0.4
django-phonenumber-field==7.3.0
phonenumbers==8.13.35
pillow==10.3.0
psycopg==3.2.3

psycopg2-binary==2.9.10
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.8.2
